body {
font: 1em sans-serif;
background-color: white;
color:black;
margin: auto;
padding: 24px ;
border: 10px;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
display: inline;
}
.content{
    margin:auto;
    padding-left: 10px;
    background-color: white;
    display: inline;
    background: -o-repeating-linear-gradient(yellow 10%, green 10%);
    text-align: center;
    border: 10px;
}
.container{
    padding: 10px;
    border: 10px;
    display: inline;
    background-color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    display: inline;
    padding: auto;
    border: 10px;
color: Black;
}